.advantages-section {
  // padding: 16px 0;
  padding: 40px 0 20px;
  background-color: var(--color-brand-normal);

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  &__item {
    color: var(--color-primary-light);
    font-size: 20px;
    font-weight: 300;
  }
}
